
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-wrap">
			<a href="" class="logo">
				<picture class="logo-image">
					<source srcset="./img/main/logo.png" media="(min-width: 1024px)">
					<source srcset="./img/main/logo-small.svg">
					<img src="./img/main/logo-small.svg" alt="" />
				</picture>
			</a>
		</div>
		<div class="popup-menu-wrap js-popup-wrap">
			<a href="" class="btn-popup btn-action-ico ico-menu js-btn-popup-toggle"><span></span></a>
			<div class="popup-content-block js-popup-block">
				<a href="" class="btn-popup-close btn-action-ico ico-close js-btn-popup-close"></a>
				<div class="menu-wrap">
					<ul class="menu">
						<li><a href="">Главная</a></li>
						<li><a href="">Каталог</a></li>
						<li><a href="">О компании</a></li>
						<li><a href="">Галерея</a></li>
						<li><a href="">Контакты</a></li>
					</ul>
				</div>
				<div class="action-wrap">
					<a href="" class="btn button-dark button-border js-popup-open" data-popup="popup-callback">Заказать звонок</a>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- /header -->